spring-context/src/test/resources/META-INF/diy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.changgui.com/schema/diy"
			xmlns:tns="http://www.changgui.com/schema/diy"
			elementFormDefault="qualified">

	<xsd:element name="chang">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID"/>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="age" type="xsd:int"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
